# Variables para pruebas de integracion de BD
DATABASE_URL="postgresql://USER:PASSWORD@HOST/neondb_test?sslmode=require&channel_binding=require"
SHADOW_DATABASE_URL="postgresql://USER:PASSWORD@HOST/shadowdb_test?sslmode=require&channel_binding=require"
