# Copia a .env y completa con Neon dev
DATABASE_URL="postgresql://USER:PASSWORD@HOST/neondb?sslmode=require&channel_binding=require"
# Recomendado para migrate dev en proveedores serverless
SHADOW_DATABASE_URL="postgresql://USER:PASSWORD@HOST/shadowdb?sslmode=require&channel_binding=require"
